.containerPai {
  width: 100%;
  display: flex;
  background-color: #003c4c;
  padding: 2rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 83.3vh;
}

.containerFilho {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: left;
}

.containerFilhoImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: left;
}

.containerFilho h1 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

.containerFilho p {
  max-width: 500px;
  color: #eee;
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
}

.containerFilho h1 {
  color: white;
}

.imgIcon {
  min-width: 100px;
  max-width: 300px;
}
